body{

    font-family: 'Open Sans', sans-serif; 
       
}

/* New Color: #3f60ec
   Old Color: #27275f */

a{
    color: #27275f;
    font-weight: bold;
}


.h5, h5 {
    font-size: 1.12rem;
}


.teamsTitle{
    color: #27275f;
}

.navbar-light .navbar-nav .nav-link{
    color: #27275f!important;
    font-weight: bold;

    
}

.navbar-light .navbar-nav .nav-link:hover{
    background-color: #27275f;
    color:white!important;
    border-radius: 15px;
}

.dropdown-item:hover{
    background-color: #27275f;
    color:white!important;
    border-radius: 15px;

}

.btn-outline-primary{
    color: #27275f!important;
    border-color: #27275f!important;
    border-radius: 15px;
}


.btn-outline-primary:hover{
    background-color: #27275f;
    color:white!important;
}

.mr-sm-2{
   
    border-radius: 15px;
    border-color: #27275f!important;

}

.card{
    border-color: #27275f;
    border-radius: 9px;
    background-color:#27275f;
    color:white
}

.card-title h5{
    color:white
}
.mr-sm-2:focus{
   
    box-shadow: 3px 8px #27275f!important;
    
}


.carousel-caption{
    background-color: #00000075;
   
    width: 73%;
}

.badge-secondary{
    background-color:#27275f;
}

.sponsorCarousel img {
    max-height: 450px;
    max-width: 100%;  
}

.carousel-control-next-icon{
    background-color: blueviolet;
}

.carousel-control-prev-icon{
    background-color: blueviolet;
}

.BrainhubCarousel__arrows{
    background-color: #27275f!important;
}

.sponsorCarousel img{
    max-height: 320px;
    max-width: 100%;   

}